


body {
    background-image: url('https://scontent.ffcm1-1.fna.fbcdn.net/v/t39.30808-6/398996266_872728231075977_8263730298803482160_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=a7fitv7HVM4AX8kiYtU&_nc_ht=scontent.ffcm1-1.fna&oh=00_AfCLGyCbNWaBJx05sabx6-6lTWugXNSixQMCef76OPQ_rA&oe=654D1DC2');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    color: #F2DA5E;
    display: inline-block;
    border: 2px solid rgba(94, 242, 131, 0.1);
    background-color: 2px solid rgba(9, 122, 26, 0.8);
    padding: 10px; 
}

p {
    color: #F2DA5E;
    display: inline-block;
    border: 2px solid rgba(242, 218, 94, 0.1);
    padding: 10px;
}

form {
    color: #F2DA5E;
}
  
  