.header {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  margin: 0 0 30px;
  background-color: #B3CABD;
  overflow: hidden;
  
}


.header-title {
  font-size: 36px;
  font-weight: 700;
  color: #328C83;
  padding-left: 100px;
  margin: 0;
}

.balance {
  font-size: 36px;
  font-weight: 700;
  color: #328C83;
  padding-left: 10px;
  padding-right: 100px;
  margin: 0;
}




